<div class="container">
  <div class="col-md-12">
    <div class="card bg-dark my-5">
      <div class="card-body">
        <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
        <ul class="text-center list-inline py-3">
          <li class="list-inline-item"><a routerLink="/wines" class="btn btn-info">Afficher les vins</a></li>
          <li class="list-inline-item"><a routerLink="/addwine" class="btn btn-info">Ajouter</a></li>
        </ul>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
  <!-- Growl -->
  <ng2-toasty [position]="'top-right'"></ng2-toasty>
</div>
