<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-responsive-sm table-striped table-hover text-center table-sm"
           style="background-color: white">
      <thead class="thead-light">
      <tr>
        <th style="width: 3%">#</th>
        <th style="width: 20%">Appellation</th>
        <th style="width: 20%">Nom du château</th>
        <th style="width: 10%">Type</th>
        <th style="width: 10%">Millésime</th>
        <th style="width: 9%">Achats</th>
        <th style="width: 9%">Stock</th>
        <th style="width: 9%">Déstockage</th>
        <th style="width: 10%">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let wine of wines; let i = index"
          [ngClass]="{'table-warning': wine.nbBouteillesStock === 0, '': wine.nbBouteillesStock !== 0 }">
        <td style="vertical-align:middle"> {{ i + 1 }}</td>
        <td>
          <div *ngIf="isOnEdit(wine); then thenBlockAppelation else elseBlockAppelation"></div>
          <ng-template #thenBlockAppelation>
            <input [(ngModel)]="wine.appellation" class="form-control text-center" type="text"/>
          </ng-template>
          <ng-template #elseBlockAppelation>
            <span class="form-control-plaintext text-center">{{ wine.appellation }}</span>
          </ng-template>
        </td>
        <td>
          <div *ngIf="isOnEdit(wine); then thenBlockNomChateau else elseBlockNomChateau"></div>
          <ng-template #thenBlockNomChateau>
            <input [(ngModel)]="wine.nomChateau" class="form-control text-center" type="text"/>
          </ng-template>
          <ng-template #elseBlockNomChateau>
            <span *ngIf="!isOnEdit(wine)" class="form-control-plaintext text-center">{{ wine.nomChateau }}</span>
          </ng-template>
        </td>
        <td>
          <div *ngIf="isOnEdit(wine); then thenBlockType else elseBlockType"></div>
          <ng-template #thenBlockType>
            <input [(ngModel)]="wine.type" class="form-control text-center" type="text"/>
          </ng-template>
          <ng-template #elseBlockType>
            <span *ngIf="!isOnEdit(wine)" class="form-control-plaintext text-center">{{ wine.type }}</span>
          </ng-template>
        </td>
        <td>
          <div *ngIf="isOnEdit(wine); then thenBlockMillesime else elseBlockMillesime"></div>
          <ng-template #thenBlockMillesime>
            <input [(ngModel)]="wine.millesime" class="form-control text-center" type="text"/>
          </ng-template>
          <ng-template #elseBlockMillesime>
            <span *ngIf="!isOnEdit(wine)" class="form-control-plaintext text-center">{{ wine.millesime }}</span>
          </ng-template>
        </td>
        <td>
          <div *ngIf="isOnEdit(wine); then thenBlockNbBouteillesAchetees else elseBlockNbBouteillesAchetees"></div>
          <ng-template #thenBlockNbBouteillesAchetees>
            <input (ngModelChange)="changeBouteillesAchetees(wine)" [(ngModel)]="wine.nbBouteillesAchetees" class="form-control text-center"
                   min={{wine.destockage}} type="number"/>
          </ng-template>
          <ng-template #elseBlockNbBouteillesAchetees>
            <span *ngIf="!isOnEdit(wine)"
                  class="form-control-plaintext text-center">{{ wine.nbBouteillesAchetees }}</span>
          </ng-template>
        </td>
        <td>
          <div *ngIf="isOnEdit(wine); then thenBlockNbBouteillesStock else elseBlockNbBouteillesStock"></div>
          <ng-template #thenBlockNbBouteillesStock>
            <input (ngModelChange)="changeBouteillesStock(wine)" [(ngModel)]="wine.nbBouteillesStock" class="form-control text-center"
                   max={{wine.nbBouteillesAchetees}} min=0 type="number"/>
          </ng-template>
          <ng-template #elseBlockNbBouteillesStock>
                <span *ngIf="!isOnEdit(wine)" [ngClass]="{'text-danger': wine.nbBouteillesStock === 0, '': wine.nbBouteillesStock !== 0 }"
                      class="form-control-plaintext text-center">{{ wine.nbBouteillesStock }}</span>
          </ng-template>
        </td>
        <td>
          <div *ngIf="isOnEdit(wine); then thenBlockDestockage else elseBlockDestockage"></div>
          <ng-template #thenBlockDestockage>
            <input (ngModelChange)="changeDestockage(wine)" [(ngModel)]="wine.destockage" class="form-control text-center"
                   max={{wine.nbBouteillesAchetees}} min=0 type="number"/>
          </ng-template>
          <ng-template #elseBlockDestockage>
            <span *ngIf="!isOnEdit(wine)" class="form-control-plaintext text-center">{{ wine.destockage }}</span>
          </ng-template>
        </td>
        <td>
          <div *ngIf="isOnEdit(wine); then thenBlockButton else elseBlockButton"></div>
          <ng-template #thenBlockButton>
            <button class="button btn btn-link" style="color: Green" (click)="edit(wine)">
              <i class="fa fa-check" aria-hidden="true"></i>
            </button>
          </ng-template>
          <ng-template #elseBlockButton>
            <button class="button btn btn-link" style="color: Black" (click)="edit(wine)">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
          </ng-template>
          <button
            (confirm)="delete(wine)" [cancelText]="cancelText" [confirmText]="confirmText"
            [popoverMessage]="popoverMessage"
            [popoverTitle]="popoverTitle"
            class="button btn btn-link"
            mwlConfirmationPopover
            placement="bottom"
            style="color: Red">
            <i aria-hidden="true" class="fa fa-remove"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
